assets/
build/
cmake-build-*/
slides/
tmp/
frontend/node_modules/
frontend/dist/
.idea/*
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml
CMakeUserPresets.json
*.su
*.map
*.elf
*.hex
*.bin
*.lst
*.o
*.obj
*.d
MDK-ARM/Fire_F103/
MDK-ARM/Env-Monitor/
*.bak
*.tmp
